.row
  .col-md-3
  .col-md-6
    %h1 Zones

.row
  .col-md-3
  .col-md-6
    .table-responsive
      %table.table#driver-zones
        %tr
          %th
          %th Leader
          %th.text-end Pickups
        - @zones.each do |zone|
          %tr
            %td= link_to zone.name, driver_zone_path(zone)
            %td
              - if zone.leader
                = link_to zone.leader.name, driver_driver_path(zone.leader)
            %td.text-end= zone.reservations.pending_pickup.count



