.row
  .col-md-4
  .col-md-4
    %h1 Teams

.row
  .col-md-4
  .col-md-4
    .table-responsive
      %table.table#driver-teams
        - @teams.each do |team|
          %tr
            %td= link_to team.name, driver_team_path(team)
            %td
              - team.drivers.each do |driver|
                = link_to driver.name, driver_driver_path(driver)
                = "|" unless driver == team.drivers.last


