%p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 0px; padding: 0;")
  Want to opt out of receiving these messages?
  = link_to "Unsubscribe", reservation_unsubscribe_url(@reservation)