#driver-instructions.container
  .row 
    .col-lg-12
      %h1 Driver Instructions

  .row
    .col-lg-6.offset-lg-3
      %p
        - if @instructions.present?
          = markdown(@instructions)
        - else
          No instructions.