.form-group.mb-4
  = form.label :email, class: 'form-label'
  = form.email_field :email, class: 'form-control'

.form-group.mb-4
  = form.label :password
  = form.password_field :password, class: 'form-control'
