<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps.api_key %>&callback=initMap&libraries=&v=weekly" async></script>



<script>

    // Initialize and add the map
    function initMap() {

        var locations = <%= raw @zone_reservations %>;

        // Create the map, centered at gfg_office
        const map = new google.maps.Map(
                document.getElementById("map"), {

            // Set the zoom of the map
            zoom: 15,
            center: new google.maps.LatLng(<%= @zone_center_reservation[0] %>, <%= @zone_center_reservation[1] %>),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }
</script>
