%p(style="font-family:'SF UI Display Medium',system,-apple-system,-webkit-system-font,'SFNSText','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif !important; box-sizing: border-box; line-height: 1.5; font-weight:400; font-size: 14px; font-weight: normal; margin: 0 0 25px; padding: 0;")
  Bainbridge Island BSA Scout Troops 1804 & 1564, P.O. Box 10705, Bainbridge Island, WA 98110