#reservation-header
  %h1.position-relative
    %i.fa-solid.fa-tree
    - if @reservation.persisted?
      = link_to "Tree pickup reservation", reservation_path(@reservation)
    - else
      Tree pickup reservation

  .text-center
    - if @reservation.is_cancelled?

      .badge.rounded-pill.bg-danger.text-center
        Cancelled

      =link_to "Make a new reservation", new_reservation_path

    - elsif @reservation.is_confirmed?
      .badge.rounded-pill.bg-warning.text-center.mb-4
        Confirmed

      = link_to edit_reservation_path(@reservation), class: 'reservation-action-link' do
        %i.fa-solid.fa-pencil
        Edit

      = link_to reservation_path(@reservation), method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: 'reservation-action-link' do
        %i.fa-solid.fa-times
        Cancel
