.row.mb-5
  .col-md-3
  .col-md-6
    %h1.mb-0 Welcome Drivers!
    %p This is your place for getting up-to-date info.


.row
  .col-md-3
  .col-md-6
    #stats
      We have
      %span.number= pluralize(Reservation.pending_pickup.count, "tree")
      to pick up and so far we've picked up
      %span.number
        = succeed(".") do
          = pluralize(number_with_delimiter(Reservation.picked_up.count), "tree")

.row
  .col-md-3
  .col-md-6
    %br
    %br

