#home
  %h1
    .top-line
      .year 2023
      .bainbridge Bainbridge Island
    .bottom-line
      .tree Tree
      .recycle Recycle
  .sub-line.mb-5
    Recycling Bainbridge Christmas trees since 1997


  %p.mt-1.mb-5.text-center= link_to "Reserve a tree pickup", new_reservation_path, class: 'btn btn-primary btn-lg mt-3 mb-3'


  .row
    .col-md-6.text-center.important-date
      %h3 Sign-up Deadline
      - if setting&.sign_up_deadline_at
        .date
          = nice_date_time(setting&.sign_up_deadline_at)
    .col-md-6.text-center.important-date
      %h3 Pick-up
      - if setting&.pickup_date_and_time
        .date= nice_date_time(setting&.pickup_date_and_time)

