#home

  .text-center= image_tag "tree.png"

  %p.intro Recycle your Christmas tree

  %p Pick-up day is January 11, 2023. The deadline for reservations is 6pm on January 10.


  %p All donations go towards supporting BSA Boys Troop 1564 and Girls Troop 1804 of the American Legion Colin Hyde Post #172.

  %p.mt-5.text-center= link_to "Make a Tree pickup reservation", new_reservation_path, class: 'btn btn-primary btn-lg'
