#home

  .text-center= image_tag "tree.png"

  %p.mt-1.mb-5.text-center= link_to "Reserve a tree pickup", new_reservation_path, class: 'btn btn-primary btn-lg'


  .row
    .col-md-6.text-center.important-date
      %h3 Pick-up Day
      .badge.text-bg-dark= setting&.pickup_date_and_time&.strftime('%B %e, %Y')

    .col-md-6.text-center.important-date
      %h3 Sign-up Deadline
      .badge.text-bg-dark= setting&.sign_up_deadline_at&.strftime('%l:%M %p on %B %e, %Y')



