#home
  %h1
    .top-line
      .year 2023
      .bainbridge Bainbridge Island
    .bottom-line
      .tree Tree
      .recycle Recycle
  .sub-line
    Recycling Bainbridge Christmas trees since 1997




  .text-center.pickup_date
    = nice_date(setting&.pickup_date_and_time)


  .text-center= link_to "Reserve a tree pickup", new_reservation_path, class: 'btn btn-primary', id: 'reservation-button'


  .row
    .col-md-2
    .col-md-8.text-center.important-date
      Reservations close on
      - if setting&.sign_up_deadline_at
        = nice_date_time(setting&.sign_up_deadline_at)


