#home


  .row
    .col-7
      %p.intro Make a reservation now for your Christmas tree to be picked up, and recycled on Bainbridge Island. All donations go towards support BSA Boys Troop 1564 and Girls Troop 1804 of the American Legion Colin Hyde Post #172. Thank you for your support!

  %p= link_to "Make a Tree pickup reservation", new_reservation_path, class: 'btn btn-primary btn-lg'
