#home
  %h1
    .top-line
      .year 2023
      .bainbridge Bainbridge Island
    .bottom-line
      .tree Tree
      .recycle Recycle


  %p.mt-1.mb-5.text-center= link_to "Reserve a tree pickup", new_reservation_path, class: 'btn btn-primary btn-lg'


  .row
    .col-md-6.text-center.important-date
      %h3 Sign-up Deadline
      - if setting&.sign_up_deadline_at
        .date
          = nice_date_time(setting&.sign_up_deadline_at)
    .col-md-6.text-center.important-date
      %h3 Pick-up
      - if setting&.pickup_date_and_time
        .date= nice_date_time(setting&.pickup_date_and_time)


  .text-center
    = image_tag "bsa-logo.png", width: '120', id: 'bsa-logo'
