#question
  %h1 Have a question?

  - if setting&.contact_email.present? || setting&.contact_phone.present?
    %p Contact us if your questions are not answered below. If you'd rather make your reservations through the contact details below, please include 1) your name, 2) street address, 3) email, and 4) phone. We'll enter your reservation and you will get a confirmation via email.

  %ul.mb-5
    - if Rails.application.credentials.twilio.production.number
      %li
        .fw-bold Send an SMS to:
        = Rails.application.credentials.twilio.production.number.to_s
    - if setting&.contact_email.present?
      %li
        .fw-bold Send us an email:
        = setting&.contact_email
    - if setting&.contact_phone.present?
      %li
        .fw-bold Call us at:
        = setting&.contact_phone



  .row
    .col-md-12
      .question
        %h2 How does this tree recycling program work?

        %p This is the 27th year our Scouts have recycled trees on Bainbridge, each year we try to improve our service:
        %ul
          %li When you reserve through our site, we take your name, address, email, and phone number.
          %li One day a year teams of scouts and drivers fan out over the Island to collect trees. We start at about 8:00 AM and finish around 4:00 PM.
          %li If we cannot find your address or tree, we try to contact you.
          %li The trees are chipped and are used on the island as mulch.

  .row 
    .col-md-12
      .question 
        %h2 What can you take?
        %p We take real trees, without ornaments or any other decorations. We cannot take wreaths, flocked trees, or artificial trees.

  .row
    .col-md-12
      .question
        %h2 Do you only collect trees on Bainbridge Island?
        %p We can only collect trees from Bainbridge Island residences.

  .row
    .col-md-12
      .question
        %h2 What if I live in an apartment or condo? Will the Scouts take trees at a condo?
        %p We collect trees from all addresses on Bainbridge, even condos and apartments. Reserve online, mark your calendar, and consider a donation. However, we don’t want to leave a mess of pine needles around your apartment or condo front door. So we strongly suggest you leave the tree near the dumpster, in a way that doesn’t block access to it, or you coordinate with your property manager to arrange an appropriate place for you and the other residents to leave your trees for recycling.

        %p The property manager may also contact us to coordinate specific details. This helps keep your property tidy, and keeps the Scouts from tromping around the halls searching for trees. It’s a win-win!


  .row
    .col-md-12
      .question
        %h2 What happens to my reservation information?
        %p We will never contact you to ask for more donations, and we will never provide your address, phone number, or any other information to anyone else. Scouts Honor! We will send you 2 additional emails, a reminder the day before this season’s collection date and a reminder to sign up again next year.

        %p We will do our best to collect all trees regardless of weather conditions on the scheduled day. If for some reason we have not collected your tree by the end of the day, please contact us and we will make arrangements as soon as possible. If there is a terrible storm, we will send an email with a revised plan for collection.

  .row
    .col-md-12
      .question
        %h2 How do I confirm if I have a reservation?
        %p When you make a reservation we send you an email to confirm that reservation. At times the email may be blocked or sent to a spam folder.

  .row
    .col-md-12
      .question
        %h2 How much does it cost to recycle my tree?
        %p Tree recycling is both a community service and a fundraising event for our troop. We will collect trees from all addresses with a reservation. We suggest a donation of $25 for the collection service.

  .row
    .col-md-12
      .question
        %h2 How is my donation used?
        %p All donations go to Bainbridge Island Scout Troops 1564 & 1804 to pay for summer camp and other scout activities and expenses.

  .row
    .col-md-12
      .question
        %h2 Do you accept cash, check, credit card, or debit cards?
        %p We are happy to accept most forms of online payment at anytime (credit, debit, or PayPal), but on the day of the event we can only accept cash or check. Once you have a reservation you may select the online option. If you prefer to donate on the day of the event please make your check payable to “BSA Troop 1564 and 1804″ and place it in an envelope. Place that envelope in a baggie and secure the baggie to your tree as you set it out on the morning of collection. Your confirmation email will include specific directions for making a donation.
  .row
    .col-md-12
      .question
        %h2 Do I have to donate online, can I just attach the donation to the tree like we have in years past?
        %p You may choose to donate at the time of collection or online. We offer an online option for those who:
        %ul
          %li worry about cash or checks being stolen prior to collection
          %li would rather not try to waterproof and attach a donation envelope
          %li are out of town (or prefer to sleep in) and will set their tree out early

