#software
  %h1 Tree Recycle
  %p 
    Want to host your own tree recycling Troop fundraiser site? The software is open-sourced at
    = succeed(".") do 
      = link_to "https://github.com/carsoncole/tree-recycle", "https://github.com/carsoncole/tree-recycle", target: '_blank'

  %p
    Carson Cole
    = surround("(", ")") do
      = mail_to "carson.cole@gmail.com"