= form_tag [:reservation, :donations], local: true, data: { turbo:false } do
  .actions.mt-4
    = submit_tag 'Make an online donation', class: 'btn btn-primary btn-lg'


= form_tag reservation_cash_or_check_path(reservation_id: @reservation.id), local: true, data: { turbo:false } do
  .actions.mt-4
    = submit_tag "I'll leave cash or a check with the tree", class: 'btn btn-primary btn-lg'
