%h1.donation.text-center Please consider a donation

%ul.mb-5
  %li Our service is free, but your donation provides opportunities for Scouts from boys Troop 1564 and girls Troop 1804 to go to camp and to get training in valuable lifelong skills
  %li We accept online donations (credit, debit, Apple and Google Pay) or donations at pick-up (cash or check)
  %li Clicking a donation option will complete the registration process


= render 'form'
