.row.mt-5.mb-5
  .col-lg-12

    .important-message.info
      A receipt for your donation will be emailed to you.


- if params[:driver] == 'true'
  .row
    .col-lg-12.text-center
      = link_to driver_root_path do
        %i.bi.bi-arrow-left 
        Driver
