#new-reservation
  .row
    .col-lg-12
      %h1 Register for a tree pickup


  .row
    .col-lg-9
      %p.text-muted Provide the address where the tree will be located and any helpful notes that describe where we will find the tree, such as your porch, or driveway.

      %p.mb-4
        %span.fw-bold We start pickups at 8am,
        %span.text-muted so have the tree ready, with all decorations removed as they are not compostable.


  = render 'form'

