.row
  .col-md-12

    %h1 Tree pickup reservation

    %p.text-muted Provide the address where the tree will be located and any notes that might describe where we will find the tree. On your porch or driveway are great spots. Provide helpful notes below if there is a possibility we won't find it.

    %p.text-muted.mb-5 Please remove all decorations from your tree as they would not be compostable.


= render 'form_1'

