.container#errors 
  .row
    .col-lg-12
      %i.bi.bi-exclamation-octagon-fill

      %h1 Ouch! Server error (500)

      %p
        We're sorry, but something went wrong. We've been notified!
        = link_to "Contact us", questions_url
        or try again in a little while.
