.container#errors 
  .row
    .col-lg-12
      %i.fa-solid.fa-triangle-exclamation
      %h1 Tree reservation or page not found

      %p
        This reservation or page you are requesting does not seem to exist.
        = link_to "Contact us", questions_url
        if you think this is in error, or try again in a little while.
