.container

  .row
    .col-lg-12
      %h3.mt-4.mb-4 Signed up!
      %p
        = succeed(",") do
          = @remind_me.name
        you are all signed up for a reminder we send out after Christmas with tne details of our next Christmas tree recycling pickup!

      %p.mb-5
        We will it to:

        %span.fw-bold= @remind_me.email

      %p Thank you!


      %p.mt-3= link_to "Tree Recycle", root_url
