$scout-red: #CE1126;
$scout-blue: #003F87;

body#admin {
  font-size: 14px;


  #pagination {
    font-size: 8px !important;
    color: red;
  }

}

#users {
  table.table.table-users {
    td.new-user {
      font-size: 1.2em;
      font-weight: 700;
      text-align: right;
      vertical-align: middle;
    }
    .user-delete-icon {
      veritical-align: middle;
      margin-left: 1em;
    }
  }
}

#admin-reservation {
  header {
    margin-bottom: 3em;

    h1 {
      margin-bottom: 0;
      font-size: 2.7em;
    }
    padding-bottom: 1em;
    border-bottom: 1px solid #d2d2d7;
  }
  .top {
    color: #aaa;
    text-transform: uppercase;
  }
  .bi {
    font-size: 1rem;
    vertical-align: top;
    &.success {
      color: rgb(63, 164, 13);
    }
    &.danger {
      color: $scout-red;
    }
  }
  #direction-links {
    margin: 0 auto 1em auto;
    display: inline-block;
    border: 2px solid lighten(#000, 60%);
    border-radius: 5px;
    padding: 0.75em ;
    text-align: center;
    .title {
      font-weight: 800;
      color: lighten(#000, 60%);
    }
    .map-link {
      font-size: 1.5em;
      display: inline-block;
      margin: 0 0.75em 0 0.75em;
    }

  }

  table.reservation {
    margin-bottom: 2em;
    th {
      font-weight: 400;
      min-width: 17em;
    }
    td {
      font-weight: 700;
    }
  }

  .status {
    display: block;
    padding-top: 0.7em;
    padding-left: 1em;
    padding-bottom: 2.7em;
    margin-bottom: 1em;
    font-size: 2.7em;
    font-weight: 800;
    text-transform: uppercase;
    vertical-align: middle;

  }

  section {
    margin-bottom: 1em;
  }

  .main {
    border-left: 1px solid #d2d2d7;
    padding-left: 2em; 
  }

  h2 {
    font-size: 2em;
 
    margin-bottom: 0.5em;
    font-weight: 800;
  }

  h3 {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 0.6em;
    margin-bottom: .8em;
    line-height: 1.125;
    font-weight: 600;
    font-size: 1.5em;
  }
  td {
    text-align: right;
  }
}


#reservations {
  section.menu {
    margin-bottom: 2em;
  }
  h3 {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1em;
  }
  .link {
    line-height: 2;
  }
  .status {
    padding: 0.2em 1em;
    font-weight: 700;
  }
}


#reservations-table {
  margin-bottom: 2.666em;
  th,td {
    &.actions {
      text-align: right;
      min-width: 12em;
    }
    &.name {
      min-width: 12em;
      font-weight: 600;
    }
    &.status {
      min-width: 11em;
    }
    &.map-links {
      min-width: 17em;
    }
    &.route {
      min-width: 13em;
    }
  }
}
