#analytics {
  h2 {
    border-top: 1px solid #000;
    text-transform: uppercase;
    padding-top: 0.5em;
    font-size: 1.6em;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight: 700;
  }
  h3 {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 1em;
  }

  #heard-from-source-table {
    th {
      font-weight: 400;
    }
    td {
      text-align: right;
      font-weight: 900;
    }
  }

  table.table {
    &#donations-analysis, &#donation-averages {
      th, td {
        &.count {
          text-align: right;
        }
      }
      td {
        font-weight: 900;
      }
      th {
        font-weight: 400;
      }
    }
  }

  #routes-table {
    td {
      text-align: right;
    }
  }
}


