header {
  margin-bottom: 3em;
}


h1 {
  margin-bottom: 1.25em;
  &.donation {
    font-size: 3em;
  }

}

a {
  text-decoration: none;
}

footer {
  margin-top: 5em;
  .nav-link {
    color: #000;
  }
}

.container.main {
  padding-bottom: 3em;
}

table.settings {
  margin-bottom: 3em;
  th {
    width: 20em;
  }
  td {
    text-align: right;
  }
}

table.reservations {
  td.actions {
    text-align: right;
  }
}

i {
  &.icon {
  margin-right: 0em;
  margin-left: 1em;
  }
  &.lg {
    font-size: 1.5em;
  }
}
#map {
  height: 800px;
  width: 1200px;
}

#home {
  .intro {
    font-size: 1.5em;
  }
}

p.message {
  font-weight: 300;
  font-size: 1.4em;
}

.seach-button {
  display: inline !important;
}

table.reservation {
  th {
    width: 15em;
  }
}
.navbar-brand {
  font-size: 1.5em;
}

#reservation {
  .item {
    margin-bottom: 2em;
    line-height: 1.666;

    .field {
      font-size: 0.9em;
      color: #999;
    }
    .data {
      font-size: 1.2em;
      color: #000;
    }

  }

}
#reservation-header {
  margin-bottom: 2.5em;
  h1 {
    margin-bottom: 0.25em;
    text-align: center;
    font-size: 2.5em;
  }
  .badge {
    font-size: 1em;
  }
  .reservation-action-link {
    padding-left: 0.5em;

  }
}

#flash {
  margin-bottom: 3em;
}

#admin-reservation {
  table {
    margin-bottom: 2em;
  }
  header {
    text-align: center;
    margin-bottom: 3em;
    h1 {
      margin-bottom: 0;
    }
  }

  h2 {
    border-top: 2px solid #999;
    padding-top: 0.5em;
    font-size: 1.5em;
  }
  td {
    text-align: right;
  }
}
.additional_info {
  display: inline;
  color: #aaa;
  font-size: 0.5em;
}

.reservation-status-badge {
  width: 8em;
  text-align: center;
  border-radius: 0.375em;
  background-color: rgb(255,193,7);
  padding: 0.35em 0.65em;
  color: #fff;
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  font-size: 0.75em;
  font-weight: 700;
  &.primary {
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
  }
  &.info {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #055160;
  }
  &.danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
  }
  &.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
  }

}
#question {
  h2 {
    font-size: 1.3em;
  }
  .question {
    margin-bottom: 2em;
  }
}
