$scout-red: #CE1126;
$scout-blue: #003F87;

@mixin font-important {
  font-size: 18px;
  font-weight: 600;
}

@mixin panel {
  background-color: #efefef;
  margin-bottom: 1.5em;
  border: 2px solid $scout-blue;
  padding: 0.5em 1.25em;
  border-radius: 6px;
  display: inline-block;

  a {
    color: $scout-blue;
  }
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
  width: 100%;
}

a, #driver-nav a {
  color: lighten($scout-blue,25%);
}

h1 {
  font-size: 1.9em;
  font-weight: 800;
  margin-bottom: 1.25em;
  line-height: 1.25em;
  vertical-align: middle;
}

h2 {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 3em;
  .btn-site {
    margin-right: 0.5em;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }

}

footer {

  .organization-name {
    display: none;
    margin-top: 4em;
    text-align: center;
    padding: 1em 0;
    font-size: 0.8em;
    font-weight: 300;
  }
}



#bsa-logo {
  margin-right: 0.6em;

}

.container.main {
  padding-bottom: 3em;
}




#donation-table {
  th {
    min-width: 10em;
  }
}
#donations-table {
  th, td {
    &.name {
      min-width: 11em;
    }
  }
}

#about {
  #organization {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 1.666em;
  }

  .software {
    text-align: center;
    font-size: 0.9em;
    margin-top: 7em;
    margin-bottom: 1em;
    color: #999;
    a {
      color: #666;
      &:hover {
        color: blue;
      }
    }
  }
}


i {
  &.icon {
  margin-right: 0em;
  margin-left: 0.25em;
  }
  &.lg {
    font-size: 1.5em;
  }
}
#map {
  height: 700px;
  width: 100%;
}

p.message {
  font-weight: 300;
  font-size: 1.4em;
}

.seach-button {
  display: inline !important;
}

table.reservation {
  th {
    width: 15em;
  }
}
.navbar-brand {
  font-size: 1em !important;
  font-weight: 800;
}




#flash {
  margin-bottom: 3em;
  .alert {
    background-color: lighten($scout-red, 20%);
    border-color: $scout-red;
    color: #fff;
    text-align: center;
    padding: 0.6em 1.4em;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.66em;
    letter-spacing: 0.02em;
    &.alert-primary {
      background-color: lighten($scout-blue, 20%);
      border-color: $scout-blue;
    }
  }
}

.status {
  &.primary {
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
  }
  &.info {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #055160;
  }
  &.danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
  }
  &.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
  }
}



.additional_info {
  display: inline;
  color: #aaa;
  font-size: 0.5em;
}


.reservation-status-badge, .donation-status-badge {
  width: 10em;
  text-align: center;
  border-radius: 0.375em;
  background-color: rgb(255,193,7);
  padding: 0.35em 0.65em;
  color: #fff;
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  font-size: 0.8em;
  font-weight: 700;
  &.primary {
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
  }
  &.info {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #055160;
  }
  &.danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
  }
  &.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
  }

}
#question {
  h2 {
    font-size: 1.3em;
  }
  .question {
    margin-bottom: 2em;
  }
}

table#admin-drivers {
  table-layout: fixed;
  th,td {
    &.name { width: 20em; }
    &.email { width: 14em; }
    &.phone { width: 10em; }
  }
}
#stats {
  display: inline-block;
  line-height: 1.4em;
  margin-bottom: 2em;
  h4 {
    font-size: 1.3em;
    margin-bottom: 0;
    color: #999;
  }
  background-color: #efefef;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  .number {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
  }
}

table.settings {
  margin-bottom: 3em;
  h3 {
    font-size: 1.5em;
  }
  th {
    min-width: 12em;

  }
  td {
    text-align: right;
    min-width: 15em;
  }
}

#settings {
  form {
    display: inline-block;
  }
}

table.table.driver_routes {
  td.remaining {
    width: 12em;
    text-align: right;
  }
}
.very-large-icon {
  font-size: 12em;
}
#info-page {
  h2 {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.33;
  }
  .section {
    margin-bottom: 1.88em;
    border-top: 4px solid #ccc;
    padding-top: 0.77em;
  }
}

nav.navbar {

  line-height: 1.8;
  &#main-navbar {
    background-color: $scout-blue;
    ul.navbar-nav {
      font-weight: 400;
      li.nav-item {

      }
    }
  }
}



#side-info {
  display: none;
  .section {
    margin-bottom: 2.5em;
  }
  h1 {
    font-size: 2.2em;
    margin-bottom: 2em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.3em;
    margin-bottom: 0.9em;
    font-weight: 600;
  }
  h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0 0;

  }
}


.status {
  &.primary {
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
  }
  &.info {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #055160;
  }
  &.danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
  }
  &.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
  }
}

#donation {
  .h3 {
    font-size: 1.6em;
    margin-bottom: 1em;
    line-height: 1.5;
  }
  .positive-push {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1.4em;
    color: $scout-red;
  }
  .thinking-about-it {
  }
  .action {
     text-align: center;
  }
  section {
    border-top: 1px solid lighten(#000, 70%);
    padding-top: 1.2em;
    margin-bottom: 1.5em;
  }
  #view-reservation {
    text-align: center;
    margin-bottom: 1.66em;
    font-weight: 700;
  }
}

.important-message {
  padding: 0.75em 1.5em;
  border: 2px solid $scout-red;
  border-left: 1.3em solid #efefef;
  border-radius: 0.5em;
  margin-bottom: 2em;
  line-height: 1.5em;
  &.primary {
    background-color: #cfe2ff;
    color: #084298;
    border-color: #b6d4fe;
  }
  &.info {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #055160;
  }
  &.danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
  }
  &.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffecb5;
  }
  @include font-important;
}
.info-table {
  th {
    font-weight: 500;
  }
  td {
    text-align: right;
  }
}

.admin-section {
  background-color: #efefef;
  padding: 1.66em;
}
.admin-nav {
  margin-bottom: 2em;
}

#admin-navbar {
  background-color: $scout-red;
}

#users {
  .table-users {
    td {
      &.role {
        text-align: right;
        font-weight: 500;
        padding: 0.3em 1em;
        vertical-align: middle;
        text-transform: capitalize;
      }
    }
  }
}

#errors {
  line-height: 1.666;
  text-align: center;
  i.fa-solid {
    font-size: 5em;
    margin-top: 1em;
    line-height: 1.666;
    color: $scout-red;
  }
  h1 {
    margin-bottom: 1.2em;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
}

#reservation {
  h1 {
    text-align: center;
    line-height: 1.66em;
    margin-bottom: 2em;
  }
  #direction-links {
    margin: 0 auto 1em auto;
    display: inline-block;
    border: 2px solid lighten(#000, 60%);
    border-radius: 5px;
    padding: 0.75em ;
    text-align: center;
    .title {
      font-weight: 800;
      color: lighten(#000, 60%);
    }
    .map-link {
      font-size: 1.5em;
      display: inline-block;
      margin: 0 0.75em 0 0.75em;
    }
  }
  .donation-status-badge {
    font-size: 1.2em;
  }
  #detail {
    th {
      width: 7em;
    }
  }

}

#settings {
  .section {
    border-top: 1px solid #aeaeae;
    padding-top: 1.666em;
    margin-bottom: 5em;
    i {
      margin-right: 0.3em;
    }

  }
}


#reservation {
  #status {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 2em;
  }
}


@media (min-width: 768px) {
  footer {
    margin: 2em 0 1em 0;
    .organization-name {
      display: block;
    }
  }
  h1 {
    margin-bottom: 3em;
    font-size: 3em;
  }
  h2 {
  }
  #driver-route {
    table.table.driver-routes {
      tbody {
        font-size: 1em !important;
      }
      th, td {
        &.buttons {
          width: 20em;
        }
      }
    }
  }
  #side-info {
    display: block;
  }
  #view-reservation {
    display: none;
  }
  #reservation-button {
    font-size: 3em !important;
  }
  #home h1 {
    margin-top: 1em;
  }
  .navbar-brand {
    font-size: 1.6em;
  }
  #donation {
    .thinking-about-it {
      text-align: center;
    }
  }
}

