$scout-red: #CE1126;
$scout-blue: #003F87;

#driver-routes {
  table.table.driver-routes {
    table-layout: fixed;
    thead {
      background-color: #000;
      color: #fff;
      font-weight: 700;
      font-size: 1.1em;
    }
  tr {
    vertical-align: middle;
  }

  th, td {
    &.house {
      width: 3.2em;
    }
    &.notes {
      width: 14em;
      overflow-x: scroll;
    }
    &.name {
      width: 10em;
      white-space: nowrap;
    }
    &.buttons {
      width: 14em;
    }
    &.phone {
      width: 9em;
    }
    &.street {
      width: 14em;
      overflow-x: scroll;
    }
  }

  td.buttons .btn {
    float: left !important;
    margin-right: 5px;
    font-size: 0.8em;
    &:nth-child {
      margin-right: 0;
    }
    &.missing, &.pending-pickup {
      font-size: 0.6em;
      margin-top: 0.4em;
      padding: 0.3em 0.5em;
    }
    &.pending-pickup {
      margin-right: 0;
    }
  }
  .btn-sm {
    margin-top: 0.25em;
  }


  }

}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
    font-size: 12px;
  }
  .container {
    min-width: 992px !important;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }

  header {
    display: none;
  }

  #driver-routes {
    table.table thead {
      background-color: #000 !important;
      color: #fff !important;
    }
    .btn {
      display: none;
    }
    th, td {
      padding: 0;
    }
  }
}

#drivers-table {
  table-layout: fixed;
  th {
    font-weight: 400
  }
  th,td {
    white-space: nowrap;
    overflow-x: scroll;
    &.name {
      width: 14em;
      overflow-x: scroll;
    }
    &.email{
      width: 14em;
      overflow-x: scroll;
    }
    &.phone {

      width: 14em;
    }
    &.zone {
      width: 9em;
      font-weight: 800;
      text-transform: uppercase;
    }
    &.action-1 {
      width: 2.5em;
    }

  }
}

#driver-nav {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

#driver-zones {
  tr:first-child  {
    font-size: .85em;
  }
  th {

  }
  td {
  }
  th,td {
    font-weight: 800;
    &.zone {
      font-weight: 800;
      text-transform: uppercase;

    }
    &.route {
      min-width: 12.5em;
    }
    &.data {
      width: 4em;
      text-align: center;
    }
    &.leader {
      width: 10em;
      text-align: right;
    }
    &.pending-pickup-count {
      background-color: lighten(#111111, 30%);
      font-weight: 800;
      color: #fff;
    }
    &.zone-pending-pickup-count {
      background-color: lighten($scout-red,20%);
      color: #fff;
    }
  }
}

#driver-profile {
  .row {
    margin-bottom: 1.66em;
  }
  h2 {
    font-size: 1.2em;
  }
}

.icono {
  font-size: 10em;
  color: lighten($scout-blue,20);
  padding: 1em;
}
