$scout-red: #CE1126;
$scout-blue: #003F87;



#driver-search {
  h1 {
    margin-bottom: 3em;
  }
}

h1 {
  margin-bottom: 1em;
}

.map-info-window {
  .street {
    line-height: 1.5;
    font-size: 1.3em;
    font-weight: 600;

  }
  .btn-sm {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .notes {
    line-height: 1.5;
    margin-bottom: 1em;
  }
  .status-info {
    font-size: 1.7em;
    font-weight: 700;

    text-transform: uppercase;
    margin-left: 2em;
  }
  .phone {
    display: inline-block;
  }
  .map-links {
    float: right;
    .map-link {
      display: inline-block;
      font-size: 1.7em;
      padding: 0 0.2em;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
  }
  .buttons {
    float: right;
  }
  .actions {
    line-height: 1.5;
    label, input {
      display: inline-block;
    }
    input[type=checkbox] {
      margin: 0 0.3em;
    }
  }
}




#driver-route {
  h1 {
    display: inline-block;
  }
  .map-icon {
    display: inline-block;
  }
  table.table.driver-routes {
    table-layout: fixed;
    thead {
      background-color: #000;
      color: #fff;
      font-weight: 700;
      font-size: 0.8em;
    }
    tbody {
      font-size: 1em;
    }
    tr {
      vertical-align: middle;
      line-height: 1.4;
    }
    td {

    }
    th, td {
      padding: 0.9em 0.6em;
      &.notes {
        min-width: 29em;
        white-space: wrap;

      }
      &.name {
        min-width: 11em;
        text-align: right;
      }
      &.buttons {
        width: 27em;
        .btn {
          background-color: lighten($scout-blue, 30%);
        }
        .active {
          background-color: $scout-blue;
        }
      }
      .print-driver-actions {
        display: none;
      }
      &.phone {
        width: 9em;
      }
      &.donation {
        min-width: 23em;
        .type {
          display: inline-block;
          background-color: #111;
          font-weight: 800;
          font-size: 0.9em;
          text-align: center;
          color: #fff;
          padding: 0.2em 3em 0.2em 1em;

          }
      }
      &.street {
        min-width: 19em;
        font-weight: 700;
        font-size: 1.2em !important;
      }
    }


  }

}

#contacts {
  .section {
    margin-bottom: 3em;
  }
  table.table#contacts-table {
    th, td {
      &.name {
        min-width: 11em;
      }
      &.phone {
        min-width: 9em;
      }
      &.email {
       overflow-x: scroll;
      }
    }
  }
}

#drivers-table {
  tbody {
    font-size: 1.1em;
  }
  th {
    font-weight: 400
  }
  th,td {
    &.name {
      min-width: 9em;
    }
    &.email{
      overflow-x: scroll;
    }
    &.phone {
      min-width: 9em;
    }
    &.zone {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

#driver-navbar {
  background-color: $scout-blue;
}

#driver-nav {
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 1em;
  .nav-link {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}


table.zones-table {
  margin-bottom: 2.66em;
  thead {
    font-size: 0.9em;
    .data {
      text-align: center;
    }
  }
  tbody {
    th {
      min-width: 14em;
    }
    th,td {
      &.zone {
        font-weight: 800;
        text-transform: uppercase;
      }
      &.data {
        text-align: center;
        font-weight: 600;
        min-width: 4em;
      }
      &.pending-pickup-count {
        background-color: lighten(#111111, 30%);
        color: #fff;
      }
      &.zone-pending-pickup-count {
        background-color: lighten($scout-red,20%);
        color: #fff;
      }
      .fa-map {
        font-size: 1.4em;
        margin-left: 0.5em;
      }
    }
  }
}


#driver-profile {
  .row {
    margin-bottom: 1.66em;
  }
  h2 {
    font-size: 1.2em;
  }
}

.icono {
  font-size: 10em;
  color: lighten($scout-blue,20);
  padding: 1em;
}

#map-title {
  text-align: center;
  font-weight: 800;
}

#driver-search {
  #search-form {
    margin-bottom: 2em;

    #search-field, #search-button {
      display: inline-block !important;
    }
    #search-field {
      width: 75%;
    }
    #search-button {
      width: 20%;
    }
  }
  table.table#search-results {
      th,td {
        &.status {
          text-align: right;
          width: 3em;
          .status {
            padding-right: 1em;
          }
        }
        &.street {
          width: 7em;
          overflow-x: scroll;
        }
        &.name {
          width: 5em;
        }
      }
  }
}




@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
    font-size: 12px;
  }
  .container {
    min-width: 992px !important;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }

  header {
    display: none;
  }

  #driver-route {
    table.table thead {
      background-color: #000 !important;
      color: #fff !important;
    }
    a {
      color: #000;
      text-decoration: none;
    }
    .btn {
      display: none;
    }
    th, td {
      padding: 0;
    }
    table.table.driver-routes {
      tr {
        background-color: #000 !important;

        th, td {
          &.donation {
            .type {
              print-color-adjust: exact; 
            }
          }
          &.buttons {
            width: 20em;
          }
          .print-driver-actions {
            vertical-align: middle;
            display: inline-block !important;
            min-width: 27em;
            i.bi { 
            font-style: normal;
            font-size: 1.2em;
            padding-right: 0.2em;
            font-weight: 700;
            .text { font-size: 0.9em;
              display: inline-block; }
            text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}




