#logs {
  article.log {
    margin-bottom: 1.5em;
    .message, .date, .id {
      display: inline-block;
    }
    .id {
      background-color: #efefef;
      padding: 0.1em 0.3em;
      margin-right: 0.75em;
      width: 9em;
    }
  }
}
