#logs {
  article.log {
    border-radius: 4px;
    padding: 0.2em 0.6em;
    margin-bottom: 1.5em;
    .message, .date, .id {
      display: inline-block;
    }
    .id {
      font-weight: 500;
      background-color: #efefef;
      padding: 0.1em 0.5em;
      margin-right: 0.75em;
      .name, .res-id {
        display: inline-block;
        width: 8em;
      }
      .res-id {
        text-align: right;
        width: 5em;
      }
    }
  }
}
