h2 {
  font-size: 1.6em;
}

#remind-mes-table {
  .email {
    min-width: 10em;
  }
  .date {
    text-align: right;
    max-width: 11em;
  }
  .actions {
    width: 2em;
    text-align: right;
  }
}

article {
  border-top: 1px solid #999999;
  padding-top: 1em;
  margin-bottom: 5em;
}

#remind-me-success {
  .email {
    display: inline;
    font-weight: 900;
  }
}
