#marketing {
  h2 {
    font-size: 1.4em;
    line-height: 1.5;
  }

  #heard-from-source-table {
    th {
      font-weight: 400;
    }
    td {
      text-align: right;
      font-weight: 900;
    }
  }

  table.table {
    &#donations-analysis, &#donation-averages {
      th, td {
        &.count {
          text-align: right;
        }
      }
      td {
        font-weight: 900;
      }
      th {
        font-weight: 400;
      }
    }
  }


}
