.driver-route.pdf {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;


  .header {
    vertical-align: middle;
    line-height: 1.7;
    page-break-before: always;
    margin-bottom: 1.5em;
    background-color: #cfcfcf;
    padding: 0.5em 1.5em;
    .zone, .route {
      font-size: 2em;
      font-weight: 800;
      display: inline-block;
      text-transform: uppercase;
    }
    .zone {
      float: right;
    }
  }

  .zone-leaders {
    text-align: center;
    color: #999;
    margin-bottom: 1.5em;
  }

  table.table.driver-routes {
    border-collapse: collapse;
    thead {
      color: #aaa;
      font-size: 0.7em;
    }
    border-collapse: collapse; 

    .smaller {
      font-size: 0.85em;
    }

    tbody {
      tr {
      }
      th, td {
        border-top: 1px solid #999; 
        min-height:  2.7em; 
      }
    }

    th, td {
      text-align: left;
      vertical-align: middle;
      padding: 0.5em 0.8em 0.4em 0em;

      .selection {
        vertical-align: middle;
        display: inline-block;
        margin-right: 0.25em;
        line-height: 1.7em;
        .status {
          vertical-align: top;
          display: inline-block;
        }
        i.bi {
          display: inline-block;
          font-size: 1.8em;
        }
      }
      .id {
        display: inline-block;
        color: #aaa;
      }

      &.status, &.donation {
        font-weight: 800;
        text-transform: uppercase;
      }
      &.street, &.notes, &.name {
        background-color: lighten(#333, 70%);
      }
      &.status {
        width: 300px;
      }
      &.street {
        padding-left: 0.3em;
        width: 240px;
        font-weight: 800;
        vertical-align: middle;
      }
      &.donation {
        padding-left: 0.3em;
        width: 240px;
      }
      &.notes {
        font-size: 0.9em;
        .reg-notes, .driver-admin-notes {
          width: 30em;
          display: inline-block;
          white-space: wrap;
        }
        .driver-admin-notes {
          clear: both;
          padding: 0.2em 0.7em;
          border-radius: 3px;
          background-color: lighten(#000000, 20%);
          color: #fff;
          font-weight: 600;
        }
      }
      &.name {
        text-align: right;
        width: 165px;
      }
    }
  }
  #notes {
    page-break-before: always;
    p {
      font-size: 0.9em;
    }
    margin-top: 3em;
    h1, h2 {
      margin-bottom: 0.5em;
    }
    h2 {
      .small-text {
        font-size: 0.6em;
        color: #bbb;
        display: inline-block;
      }
    }
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
    }
    table.table.notes {
      width: 40%;
      margin-bottom: 3em;
      float: left;
      margin-right: 2em;
      border-collapse: collapse;
      tr {
        
        th, td {
          font-size: 16px;
          padding: 0.6em;
          border-bottom: 1px solid #000;
          border-left: 1px solid #000;
        }
        td {
          color: #ccc;
          &.id {
            width: 10em;
          }
          &.amount {
            width: 6em;
          }
          &.form {
            width: 12em;
            color: #333333;
          }
        }
      }
    }
  }
}