.driver-route.pdf {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.1em;


  .header {
    page-break-before: always;
    margin-bottom: 1.5em;
    background-color: #cfcfcf;
    padding: 0.5em 1em;
    .zone, .route {
      font-size: 2em;
      font-weight: 800;
      display: inline-block;
      text-transform: uppercase;
    }
    .zone {
      float: right;
    }
  }

  .zone-leaders {
    text-align: center;
    color: #999;
    margin-bottom: 1.5em;
  }

  table.table.driver-routes {
    i.bi {
      display: inline;
      font-style: normal;
    }
    thead {
      color: #aaa;
      font-size: 0.7em;
    }
    border-collapse: collapse; 

    .smaller {
      font-size: 0.85em;
    }

    th, td {
      text-align: left;
      padding: 0.6em 1em 0.3em 0em;
      border-top: 1px solid #999;
      &.buttons, &.donation {
        font-weight: 800;
        text-transform: uppercase;
      }
      &.buttons {
        width: 240px;
      }
      &.street {
        width: 250px;
      }
      &.donation {
        width: 265px;
      }
      &.notes {
        width: 240px;
      }
      &.name {
        text-align: right;
        width: 180px;
      }
    }
  }
}