$scout-red: #CE1126;
$scout-blue: #003F87;

@mixin font-important {
  font-size: 22px;
  font-weight: 600;
}

@mixin panel {
  background-color: #efefef;
  margin-bottom: 1.5em;
  border: 2px solid $scout-blue;
  padding: 0.5em 1.25em;
  border-radius: 6px;
  display: inline-block;

  a {
    color: $scout-blue;
  }
}

#reservation {
  margin-bottom: 2em;
  .item {
    margin-bottom: 2em;
    line-height: 1.666;

    .field {
      font-size: 0.9em;
      color: #999;
    }
    .data {
      font-size: 1.2em;
      color: #000;
    }
  }
}

#reservation-status {
  margin-bottom: 1em;
  @include font-important;

  .reservation-status-badge {
    &.primary {
      background-color: #cfe2ff;
      color: #084298;
      border-color: #b6d4fe;
    }
    &.info {
      background-color: #cff4fc;
      border-color: #cff4fc;
      color: #055160;
    }
    &.danger {
      background-color: #f8d7da;
      color: #842029;
      border-color: #f5c2c7;
    }
    &.warning {
      background-color: #fff3cd;
      color: #664d03;
      border-color: #ffecb5;
    }

  }
}

#reservation-actions {
  @include panel;
  display: block;
  text-align: center;
  margin: 0 auto 1.66em auto;
  .reservation-action-link {
    font-weight: 500;
    margin: 0 0.5em;
  }
}
