#users.container
  .row
    .col-md-12
      %h1
        %i.fa-solid.fa-user 
        Users

  .row
    .col-lg-6.offset-3 
      %table.table.table-users
        - @users.each do |user|
          %tr 
            %td.email= user.email 
            %td.role= user.role