.container
  .row
    .col-lg-12
      %h1 Donation

  .row
    .col-lg-12
      .table-responsive
        %table.table#donation-table
          - @donation.attributes.each do | key, value |
            %tr 
              %th= key.humanize.capitalize
              %td
                - case key
                - when 'receipt_url'
                  = link_to(value) if value.present?
                - when 'amount'
                  = number_to_currency value
                - else
                  = value

